html{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

body{
  width: 90%;
}
/*
  Header
*/

header{
  width: 100%;
}

.header-box{
  width: 100%;
}

.drive-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.drive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 1.2rem;
  border-radius: .5rem;
  width: 100%;
}

.drive-button {
  background-color: inherit;
}

/*
  Main
*/

main{
  width: 100%;
}

.main-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-left{
  width: 20%;
}

.center-decoration{
  width: 4px;
  background-color: red;
  border: 1px solid black;
  border-radius: 3px;
}

.main-right{
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 2rem 2rem 4rem 0; 
}

.main-title{
  font-size: 1.25rem;
  font-weight: bold;
}

/*
  footer
*/
